body{
	background-color: #F8F8F8;
}
/*--- BLOCKS ---*/
.container{
	width: 90%;
	margin: 0 auto;
}

.icon{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FF3E79;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.offer{
	position: relative;
}

.offer::before{
	position: absolute;
	content: " ";
	width: 15px;
	height: 40px;
	background-color: #41F6D7;
	left: -10px;
	border-radius: 25%;
}



/*--- HEADER ---*/
.header__wrapper{
	background-color: #fff;
	padding: 18.59px 0;
}

.header__container{
	display: flex;
	align-items: center;
}

.logo{
	position: relative;
}

.logo::before{
	content: "";
	position: absolute;
	bottom: 11px;
	left: -20.73px;
	width: 2px;
	height: 32px;
	background-color: #EAEAEA;
	border-radius: 25%;
}

.header__burger-menu{
	order: -1;
	margin-right: 42.73px;
}

.menu{
	margin-left: auto;
}

.menu__list{
	display: flex;
}

.menu__item{
	position: relative;
	margin-right: 16px;
}

.menu__item:last-child{
	margin-right: 0;
}

.menu__list--contacts{
	position: relative;
	display: flex;
	margin-right: 42px;
}

.menu__list--contacts::after{
	position: absolute;
	content: " ";
	bottom: 3px;
	right: -20px;
	width: 2px;
	height: 32px;
	background-color: #EAEAEA;
	border-radius: 25%;

}

.offer--top{
	padding-top: 24px;
}

/*---MAIN---*/
.main{
	margin-top: 24px;
	margin-bottom: 35px;
}

.order{
	display: none;
}

.section-menu{
	margin: 24px 0;
}

.slide-menu{
	overflow: auto;
	display: flex;
	align-items: center;
}

.slide-menu::-webkit-scrollbar{
	width: 0;
	height: 0;
}

.slide-menu__item{
	flex-shrink: 0;
}

.slide-menu__button{
	color: #7E7E82;
	padding: 8px 10px;
}

.slide-menu__button:hover{
	border: 3px solid #B8FFEC;
	border-radius: 5px;
	padding: 5px 7px;
	background-color: #fff;
}

.slide-menu__button:focus{
	border: 3px solid #B8FFEC;
	border-radius: 5px;
	padding: 5px 7px;
	background-color: #fff;
}

.button{
	font-size: 16px;
	cursor: pointer;
	border: none;
	background: none;
}

.content{
	display: flex;
	justify-content: space-between;
}

.content__button{
	font-family: 'TTLakes-Medium', Arial, Helvetica, sans-serif;
}

.content__button-img{
	margin-right: 8px;
}

.content__img{
	margin-left: 25px;
	max-width: 360px;
	max-height: 208px;
}

